#!/bin/sh

# Adjust this file for your needs
################################################################################
export kernel=./original/uImage
export rootfs=$(FILESYS_BASE_DIR)/filesys

################################################################################
#export DATE=$(date +%y%m%d) 
export version=v13.03.18.14
export firmware_name=ipnc_fm_130321_v2.04
#export firmware_name=ipnc_fm_130321_v2.04_irled

